@layout('layouts.main')

@section('title')
  Focused Test - Create Customer
@endsection

@section('breadcrumb')
  <li class="breadcrumb-item">
    <a href="/customers">Customers</a>
  </li>
  <li class="breadcrumb-item active">
    Create Customer
  </li>
@endsection

@section('content')
  <h1>Create a Customer</h1>
    <form id="customerForm" action="{{ route('CustomerController.create') }}" method="POST">
      @include('customers.partials.form')
    </form>
  @endsection
